<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/album</property>
		<property name="connection.username">root</property>
		<property name="connection.password">1234</property>

		<property name="c3p0.max_size">5</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.timeout">5000</property>
		<property name="c3p0.max_statements">50</property>
		<property name="c3p0.idle_test_period">2000</property>
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.validate">false</property>

		<property name="show_sql">false</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping resource="User.hbm.xml"/>
		<mapping resource="Photo.hbm.xml"/>

	</session-factory>
</hibernate-configuration>